.callback {
  padding-top: 176px;
  padding-bottom: 164px;

  background-image: url("../img/backpack.png"), url("../img/girl-flag-bg.png");
  background-repeat: no-repeat;
  background-position: top 100px left, right -1px top -33px;
  background-size: 11%, 60%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backpack@2x.png"), url("../img/girl-flag-bg@2x.png");
  }
}

.callback__wrap {
  width: 35%;
  margin-left: 15.3%;
}

.callback__wrap h2 {
  margin-bottom: 24px;

  font-family: $title-main;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: $cyan;
}

.callback__wrap p {
  max-width: 400px;
  margin-bottom: 62px;

  font-family: $main-regular;
  font-size: 17px;
  line-height: 29px;

  opacity: 0.87;
}

.callback__form {
  position: relative;
}

.callback__form-inner {
  padding: 2px;
  background-color: #e3e3e3;
  border-radius: 80px;
}

.callback__form-inner input {
  width: 100%;
  padding: 18px 240px 20px 40px;

  border-radius: 80px;
  border: none;
  outline: none;

  cursor: pointer;

  &::placeholder {
    font-family: $main-medium;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;

    color: $black;

    opacity: 0.5;
  }
}

.callback__btn {
  position: absolute;

  top: 0;
  right: -1px;

  padding-top: 22px;
}

@media (max-width: $desktop-width) {
  .callback {
    background-position: top 100px left, right -1px top 0;
    background-size: 11%, 55%;
  }

  .callback__wrap {
    margin-left: 10%;
  }
}

@media (max-width: $tablet-width) {
  .callback__wrap {
    margin-left: 10%;
  }

  .callback__form-inner input {
    padding-right: 145px;
    padding-left: 25px;
  }

  .callback__btn {
    right: -54px;

    padding-right: 20px;
  }
}

@media (max-width: $mobile-width) {
  .callback {
    padding: 38px 0 317px;

    background-image: url("../img/backpack.png"), url("../img/girl-flag-bg-mobile.png");
    background-position: left -5px top -12px, center bottom 10px;
    background-size: 34%, 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backpack@2x.png"), url("../img/girl-flag-bg-mobile@2x.png");
    }
  }

  .callback__wrap {
    width: 89.3%;
    margin: auto;
  }

  .callback__wrap h2 {
    margin-left: 7px;

    font-size: 32px;
    line-height: 39px;
  }

  .callback__wrap p {
    margin-bottom: 23px;

    font-size: 16px;
    line-height: 26px;
  }

  .callback__form-inner {
    width: 288px;
    margin: 0 auto 8px;
  }

  .callback__form-inner input {
    padding: 19px 26px 18px 39px;
  }

  .callback__btn {
    position: relative;
    right: -1px;

    width: 264px;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 43px;
  }
}
