.feedback {
  padding-top: 20px;
  padding-bottom: 55px;

  background-image: url("../img/feedback-bg.png");
  background-repeat: no-repeat;
  background-position: right 3px top 84px;
  background-size: 38%;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/feedback-bg@2x.png");
  }
}

.feedback__title {
  font-family: $title-main;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;

  color: $cyan;
}

.feedback__wrap {
  width: 85.5%;
  margin: 0 auto;
}

.feedback__list {
  list-style: none;
}

.feedback__item {
  min-height: 485px;
  padding-top: 48px;
  padding-left: 34.5%;
  padding-right: 7.4%;

  background-image: url("../img/feedback-photo-author.jpg");
  background-repeat: no-repeat;
  background-position: left top 10px;
  background-size: 31%;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/feedback-photo-author@2x.jpg");
  }
}

.feedback__author {
  margin-bottom: 31px;
}

.feedback__author-title {
  margin-bottom: 9px;

  font-family: $main-medium;
  font-size: 24px;
  line-height: 36px;

  opacity: 0.74;
}

.feedback__program {
  font-family: $main-regular;
  font-size: 15px;
  line-height: 21px;

  opacity: 0.74;
}

.feedback__program span {
  padding-right: 9px;

  color: $cyan;
}

.feedback__text {
  margin-bottom: 17px;
}

.feedback__desc {
  margin-bottom: 17px;

  font-family: $main-regular;
  font-size: 17px;
  line-height: 29px;

  opacity: 0.74;

  &:last-child {
    margin-bottom: 0;
  }
}

.feedback__other {
  display: flex;
  align-items: flex-start;
  min-height: 114px;
}

.feedback__other-link {
  font-family: $main-regular;
  font-size: 17px;
  line-height: 25px;
  text-decoration-line: underline;

  color: $cyan;
}

.feedback__social-list {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 95px;
  margin-left: auto;

  list-style: none;
}

.feedback__social-link {
  display: block;
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-top: 30px;
    padding-bottom: 30px;

    background-image: url("../img/feedback-bg.png");
    background-position: top 63.5% right -133px;
    background-size: 130%;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/feedback-bg@2x.png");
    }
  }

  .feedback__title {
    font-size: 32px;
    line-height: 39px;
  }

  .feedback__item {
    padding: 401px 0 0 0;

    background-image: url("../img/feedback-photo-author-mobile.jpg");
    background-position: center top 24px;
    background-size: 242px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/feedback-photo-author-mobile@2x.jpg");
    }
  }

  .feedback__program {
    font-size: 14px;
    line-height: 22px;
  }

  .feedback__program span {
    display: block;
  }

  .feedback__desc {
    font-size: 16px;
    line-height: 26px;
  }

  .feedback__other {
    flex-direction: column;
    min-height: auto;
  }

  .feedback__other-link {
    font-size: 16px;
    line-height: 24px;
  }

  .feedback__social-list {
    align-self: flex-start;
    margin: 0;
  }
}
