.feedback {
  padding-top: 20px;
  padding-bottom: 63px;

  background-image: url("../img/feedback-bg.png"), url("../img/watercolor-feedback-bg.png");
  background-repeat: no-repeat;
  background-position: right 3px top 84px, center;
  background-size: 38%, 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/feedback-bg@2x.png"), url("../img/watercolor-feedback-bg@2x.png");
  }
}

.feedback h2 {
  font-family: $title-main;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;

  color: $cyan;
}

.feedback__wrap {
  width: 85.5%;
  margin: 0 auto;

  overflow: hidden;
}

.feedback__list {
  list-style: none;
}

.feedback__item {
  display: none;
  min-height: 485px;
  padding-top: 48px;
  padding-left: 34.5%;
  padding-right: 7.4%;

  background-image: url("../img/feedback-photo-author.jpg");
  background-repeat: no-repeat;
  background-position: left top 10px;
  background-size: 31%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/feedback-photo-author@2x.jpg");
  }
}

.feedback__item--active {
  display: block;
}

.feedback__author {
  margin-bottom: 30px;
}

.feedback__author h3 {
  margin-bottom: 9px;

  font-family: $main-medium;
  font-size: 24px;
  line-height: 36px;

  opacity: 0.74;
}

.feedback__author p {
  font-family: $main-regular;
  font-size: 15px;
  line-height: 21px;

  opacity: 0.74;
}

.feedback__author span {
  padding-right: 9px;

  color: $cyan;
}

.feedback__text {
  margin-bottom: 16px;

  font-family: $main-regular;
  font-size: 17px;
  line-height: 29px;

  opacity: 0.74;
}

.feedback__other {
  display: flex;
  align-items: flex-start;
  min-height: 114px;
}

.feedback__link {
  font-family: $main-regular;
  font-size: 17px;
  line-height: 25px;
  text-decoration-line: underline;

  color: $cyan;
}

.feedback__social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 105px;
  margin-top: 52px;
  margin-left: auto;
  margin-bottom: 8px;

  list-style: none;
}

.feedback__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  color: $grey;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.feedback__social-link svg {
  fill: currentColor;
}

.feedback__pagination {
  display: flex;
  margin-top: -34px;
  padding-left: 34.5%;
}

.feedback__count {
  margin-right: 24px;

  font-family: $main-regular;
  font-size: 17px;
  line-height: 25px;

  opacity: 0.5;
}

.feedback__controls {
  display: flex;
  padding-top: 2px;
}

.feedback__arrow {
  width: 9px;
  height: 19px;
  margin-right: 20px;

  background-color: transparent;
  background-image: url("../img/feedback-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border: none;
  cursor: pointer;

  &:first-child {
    transform: rotate(180deg);
  }

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-top: 0;
    padding-bottom: 30px;

    background-image: url("../img/feedback-bg.png");
    background-position: top 63.5% right -133px;
    background-size: 130%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/feedback-bg@2x.png");
    }
  }

  .feedback h2 {
    font-size: 32px;
    line-height: 39px;
  }

  .feedback__wrap {
    position: relative;
    width: 90%;
  }

  .feedback__item {
    padding: 403px 0 0 0;

    background-image: url("../img/feedback-photo-author-mobile.jpg");
    background-position: center top 24px;
    background-size: 242px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/feedback-photo-author-mobile@2x.jpg");
    }
  }

  .feedback__author {
    margin-bottom: 23px;
  }

  .feedback__author p {
    font-size: 14px;
    line-height: 22px;
  }

  .feedback__author span {
    display: block;
  }

  .feedback__text {
    margin-bottom: 17px;

    font-size: 16px;
    line-height: 26px;
  }

  .feedback__other {
    flex-direction: column;
    min-height: auto;
  }

  .feedback__link {
    margin-bottom: 22px;

    font-size: 16px;
    line-height: 24px;
  }

  .feedback__social-list {
    width: 100px;
    margin: 20px 0 0 0;
  }

  .feedback__pagination {
    position: absolute;
    top: 355px;
    left: 50%;

    margin: 0 0 0 -48px;
    padding-left: 0;
  }

  .feedback__count {
    margin-right: 26px;
  }
}
