.life {
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 133px;

  background-image: url("../img/watercolor-life-bg.png"), url("../img/life-bg.png");
  background-repeat: no-repeat;
  background-position: top 45px left, right -1px bottom 238px;
  background-size: 100%, 7.2%;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/watercolor-life-bg@2x.png"), url("../img/life-bg@2x.png");
  }
}

.life__wrap {
  width: 84.33%;
  margin-left: 7.61%;
}

.life__title {
  margin-bottom: 24px;
  padding-left: 5px;

  font-family: $title-main;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;

  color: $cyan;
}

.life__indent {
  display: none;
}

.life__text {
  width: 62%;
  margin: 0 auto -23px;
  padding-right: 5px;

  font-family: $main-regular;
  font-size: 17px;
  line-height: 29px;
  text-align: right;

  opacity: 0.87;
}

.life__inner {
  width: 84.33%;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.life__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 2px;
  padding-left: 4px;

  list-style: none;
}

.life__item {
  position: relative;
}

.life__item:nth-child(0n + 1) {
  width: 41%;
  height: 732px;
  margin-right: 1.7%;
  margin-bottom: 20px;
}

.life__item:nth-child(0n + 2) {
  width: 20%;
  height: 318px;
  margin-top: 68px;
  margin-right: 9px;
}

.life__item:nth-child(0n + 3) {
  width: 36.5%;
  height: 318px;
  margin-top: 68px;
}

.life__item:nth-child(0n + 4) {
  width: 36.5%;
  height: 318px;
  margin: -337px 40px 20px 42%;
}

.life__item:nth-child(0n + 5) {
  width: 20%;
  height: 318px;
  margin-top: -337px;
  margin-left: 81%;
  margin-bottom: 20px;
}

.life__item img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;

  object-position: center;
  object-fit: cover;
}

.life__item p {
  position: absolute;
  left: 33px;
  bottom: 32px;

  width: 70%;
  margin: 0 auto;

  font-family: $raleway;
  font-size: 21px;
  line-height: 25px;
  text-align: left;

  color: $white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.life__item:nth-child(0n + 2) p {
  margin-left: -10px;
}

.life__item:nth-child(0n + 4) p {
  width: 87%;
  margin-left: -10px;
}

.life__item:nth-child(0n + 5) p {
  margin-left: -9px;
}

@media (max-width: $tablet-width) {
  .life {
    padding-top: 59px;

    background-image: none;
  }

  .life__wrap {
    width: 90%;
    margin: 0 auto;
  }

  .life__title {
    padding-left: 0;

    font-size: 32px;
    line-height: 39px;
  }

  .life__indent {
    display: block;
  }

  .life__text {
    width: 97%;
    margin-right: 10px;

    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  .life__inner {
    width: 95%;
    margin: 0 auto;
  }

  .life__item-text {
    width: 90%;

    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: $mobile-width) {
  .life {
    padding-bottom: 0;
  }

  .life__wrap {
    margin-bottom: 41px;
  }

  .life__inner {
    width: 90%;
    padding-bottom: 15px;
  }

  .life__list {
    flex-wrap: nowrap;
    min-width: 520%;
    padding-left: 0;
  }

  .life__item:nth-child(n) {
    width: 100%;
    height: initial;
    margin: 0;
    margin-right: initial;
    padding: 28% 0 0 0;
  }

  .life__item p {
    left: 25px;
    bottom: 16px;

    width: 80%;

    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
}
