.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  height: 878px;

  background-image: url("../img/promo-girl.png"), url("../img/promo-text.png"), url("../img/promo-backdrop.jpg");
  background-repeat: no-repeat;
  background-position: center bottom 95%, center 160px, center;
  background-size: cover, 74.5%, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-girl@2x.png"), url("../img/promo-text@2x.png"), url("../img/promo-backdrop@2x.jpg");
  }
}

.promo__title {
  max-width: 343px;
  margin: auto auto 281px;

  font-family: $main-bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: $white;

  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.promo__btn {
  position: absolute;

  left: 50%;
  bottom: 185px;

  width: 54px;
  height: 54px;
  margin-left: -26px;

  background-image: url("../img/mouse.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  border: 1px solid $white;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: -11px;

    border: 1px dashed $white;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";

    top: 63px;

    width: 0;
    height: 55.5px;

    border: 1px solid $white;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    height: 536px;
    margin-top: 0;
    background-image: url("../img/promo-girl-mobile.png"), url("../img/promo-text-mobile.png"), url("../img/promo-backdrop-mobile.jpg");
    background-position: center -51px, center 85px, center -50px;
    background-size: cover, contain, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-girl-mobile@2x.png"), url("../img/promo-text-mobile@2x.png"), url("../img/promo-backdrop-mobile@2x.jpg");
    }
  }

  .promo__title {
    margin-bottom: 235px;

    font-size: 20px;
    line-height: 24px;
  }

  .promo__btn {
    bottom: 138px;
  }
}
