$black: #484848;
$white: #ffffff;
$grey: #d6d6d6;


$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-regular: "FiraSans-Regular", "Arial", sans-serif;
$main-medium: "FiraSans-Medium", "Arial", sans-serif;
$main-bold: "FiraSans-Bold", "Arial", sans-serif;
$title-main: "Montserrat-Bold", "Arial", sans-serif;
